################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/joro86.github.io/v17
/.vs/VSWorkspaceState.json
